<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <targets>

    <!--写入数据库-->
    <target
         name="SqlServerDB"
         xsi:type="Database"
         dbProvider="System.Data.SqlClient"
         connectionString="Data Source=.;Initial Catalog=test;Persist Security Info=True;User ID=sa;password=lhj888">
      <commandText>
        insert into tb_NLog(origin,Level,Message,Exception,StackTrace,[Desc],CreateTime) values (@origin, @Level,@Message,@Exception,@stackTrace,@desc,getdate());
      </commandText>
      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志等级-->
      <parameter name="@Level" layout="${level}" />
      <!--日志消息-->
      <parameter name="@Message" layout="${message}" />
      <!--异常信息-->
      <parameter name="@Exception" layout="${exception:format=tostring}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--自定义消息内容-->
      <parameter name="@desc" layout="${event-context:item=Desc}"/>
      <!--添加时间-->
      <!--<property name="@createTime" layout="${longdate}" bsonType="DateTime" />-->
    </target>
  </targets>

  <rules>
    <logger name="FileLogger" levels="Trace,Debug,Info,Error"  writeTo="SqlServerDB"/>
  </rules>
</nlog>