<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>

    <!--写入数据库-->
    <target xsi:type="Database" name="Database"
            connectionString="server=172.16.200.113;user id=root;password=hongte888;database=tuandai_bm;port=3306;characterset=utf8;"
            commandText="insert into tb_nLog_log([creote_time],[origin],[log_level], [message], [exception],[stack_trace],[desc]) values (getdate(), @origin, @logLevel, @message,@exception, @stackTrace,@desc)">

      <!--日志来源-->
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志等级-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志消息-->
      <parameter name="@message" layout="${message}"/>
      <!--异常信息-->
      <parameter name="@exception" layout="${exception}" />
      <!--堆栈信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--自定义消息内容-->
      <parameter name="@desc" layout="${event-context:item=Desc}"/>
    </target>
  </targets>

  <rules>
    <logger name="DbLogger" levels="Trace,Debug,Info,Error"  writeTo="Database"/>
  </rules>
  </nlog>