<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
      <!--写入文件-->
      <target
       xsi:type="File"
       name="DebugFile"
       fileName="Logs\Debug\${shortdate}.log"
       layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
      </target>
      <target
        xsi:type="File"
        name="InfoFile"
        fileName="Logs\Info\${shortdate}.log"
        layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
      </target>
      <target
        xsi:type="File"
        name="ErrorFile"
        fileName="Logs\Error\${shortdate}.log"
        layout="日志时间：${longdate}${newline}日志来源：${callsite}${newline}日志级别：${uppercase:${level}}${newline}消息内容：${message}${newline}异常信息：${exception}${newline}==============================================================${newline}" >
      </target>
    </targets>
    <rules>
      <logger name="FileLogger" minlevel="Debug" maxLevel="Debug" writeTo="DebugFile" />
      <logger name="FileLogger" minlevel="Info" maxLevel="Info" writeTo="InfoFile" />
      <logger name="FileLogger" minlevel="Error" maxLevel="Error" writeTo="ErrorFile" />
    </rules>
  </nlog>